.form
	padding 54px 0 20px
	border none

	&__item
		padding 1px 0
		overflow hidden
		clearfix()
		width 100%

	&__label
		padding-top 16px
		display inline-block
		font-family PTSansBold
		font-size 22px
		vertical-align middle
		cursor pointer


	&__input
		padding 0 0 33px 28px
		width 100%
		height 57px
		font-family CourierNew
		font-size 30px
		background transparent no-repeat
		border none

	&__value
		position relative
		display inline-block
		width 641px

		&_type
			&_name
				width 641px
			&_year
				width 628px
			&_city
				width 590px
			&_skype
				width 708px
			&_mail
				width 708px

		&:before
			position absolute
			retinaSprite $line_group
			left 14px
			bottom 21px
			display block
			content ''