.aboute
	position: relative
	margin-top 6px

	&__list
		clearfix()

	&__item
		height 35px
		margin-left 26px
		float left
		width: 30.6%

		&:nth-child(3n + 2)
			width: 33.1%

		&:nth-child(3n + 3)
			width: 25.2%

		&:nth-last-child(2)
			display none


		label
			position relative
			title(20px, bold ,-0.9px)

			input[type='checkbox']
				display none

			input[type='checkbox']:checked + span
				background url(../images/sprites/list.png)  84px 241px
				position: absolute;
				size(37px, 30px)
				top: -10px;
				left: -37px;


			span
				content ""
				background url(../images/sprites/list.png)  115px 231px
				size(30px)
				display inline-block
				position absolute
				left -36px
				top 0


