include ../title/title
include ../form/form
include ../aboute/aboute
include ../slider/slider
include ../tell/tell
include ../plane/plane

mixin index()
	+b.content
		+title()
		+form(getData('form'))
		+aboute(getData('skill'))
		+slider()
		+tell()
		+plane()