include ../title/title
include ../form/form
include ../aboute/aboute
include ../slider/slider
include ../tell/tell
mixin index()
	+b.content
		+b.index
			+e.item
				+title()
			+form(getData('form'))
			+aboute(getData('skill'))
			+slider()
			+tell()