.title

	&__logo
		clearfix()

	&__brend
		float left
		retinaSprite $logo_group
		margin-top: 16px;

	&__banner
		float: right
		retinaSprite $banner_group
		margin-right: -66px;

	&__head
		retinaSprite $title_group
		margin: 6px auto 0;
		position: relative;
		left: -16px;