.title

	&__logo
		clearfix()

	&__brend
		float left
		retinaSprite $logo_group
		margin-top 16px

	&__banner
		float right
		retinaSprite $banner_group
		margin-right -66px

	&__head
		position relative
		left -16px
		margin 6px auto 0
		retinaSprite $title_group