PTSansRegular = 'PTSans-Regular', sans-serif
PTSansBold = 'PTSans-Bold', sans-serif
CourierNew = 'CourierNew', sans-serif

@font-face {
	font-family: "PTSans-Bold";
	src: url("../fonts/PTSans-Bold.eot");
	src: url("../fonts/PTSans-Bold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/PTSans-Bold.woff") format("woff"),
			url("../fonts/PTSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PTSans-Regular";
	src: url("../fonts/PTSans-Regular.eot");
	src: url("../fonts/PTSans-Regular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/PTSans-Regular.woff") format("woff"),
			url("../fonts/PTSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "CourierNew";
	src: url("../fonts/CourierNew.eot");
	src: url("../fonts/CourierNew.eot?#iefix") format("embedded-opentype"),
			url("../fonts/CourierNew.woff") format("woff"),
			url("../fonts/CourierNew.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}