mixin tell()
	+b().tell
		+e('h2').title.header-section&attributes(attributes)  Расскажите о себе словами
		+e.text Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
		+e('textarea').textarea Ожидаю профессионального  роста, получения опыта по вышеуказанному стеку!