mixin tell()
	+b().tell
		+b('h2').header-section&attributes(attributes)  Расскажите о себе словами
		+e.text Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
		+e.line&attributes(attributes)
			+e.drag
			+e.level
				+e.item Не владею
				+e.item Использую готовые решения
				+e.item Использую готовые решения и умею их переделывать
				+e.item Пишу сложные скрипты