.tell
	padding:6px 0

	&__line
		retinaSprite $slider_group
		margin 20px 0 0 12px

	&__drag
		background url(../images/sprites/list.png)  42px 240px
		position: relative
		top: 10px;

	&__level
		margin 44px 0 0 -1px
		letter-spacing: -0.5px

	&__item
		float left
		font-size: 13px
		font-family:PTSansBold

		&:nth-child(2)
			margin-left: 83px

		&:nth-child(3)
			margin-left: 65px
			max-width: 170px
			line-height 14px

		&:nth-child(4)
			margin-left 83px
			margin-top: 6px;

