mixin slider(level)
	+b().slider
		+b('h2').header-section&attributes(attributes)  Уровень владения JavaScript
		+e.line.js-slider
			+e.drag
		+e.level
			+e.item Не владею
			+e.item Использую готовые решения
			+e.item Использую готовые решения и умею их переделывать
			+e.item Пишу сложный JS c  нуля