.slider
	padding 13px 0

	&__line
		retinaSprite $slider_line_group
		margin-top 15px

	&__drag
		position  relative
		retinaSprite $dragger_group
		top  11px
		margin-left -6px
		cursor  pointer

	&__level
		padding-left  2px
		clearfix()

	&__item
		float left
		font-family PTSansBold
		font-size 13px

		&:nth-child(2)
			margin-left 83px

		&:nth-child(3)
			margin-left 61px
			max-width 170px
			line-height 16px

		&:nth-child(4)
			margin 6px 0 0 87px